.projects {
  background: #181818;
  color: $white;
}

.projects_wrap {
  padding-top: 5px;
  padding-bottom: 30px;
  height: 100%;
  position: relative;
}

.projects_slides {
  padding-left: 2px;
  padding-right: 2px;
  box-sizing: border-box;
}

.projects_title {
  color: $primery;
  font-size: px-to-rem(32px);
  line-height: px-to-rem(37px);
  text-align: center;
  margin: 0 0 20px 0;
}

.projects_example {
  font-size: px-to-rem(24px);
  line-height: px-to-rem(28px);
  text-align: center;
  margin: 20px 0;
}

.projects_gallery {
  margin-top: 35px;
}

.projects_big {
  margin-bottom: 3px;
  img {
    display: block;
    max-width: 100%;
    height: auto;
  }
}

.projects_mini {
  display: flex;
  justify-content: space-between;
  a {
    text-decoration: none;
    margin-right: 3px;

    &:last-child {
      margin-right: 0;
    }
  }
  img {
    display: block;
    max-width: 100%;
    height: auto;
  }
}

.projects_it-was, .projects_task, .projects_result {
  margin-top: 25px;
  p {
    font-size: px-to-rem(17px);
    line-height: px-to-rem(24px);
    margin-bottom: 20px;
    margin-top: 0;

    &:first-child {
      font-size: px-to-rem(20px);
      line-height: px-to-rem(24px);
      margin-bottom: 10px;
    } 
  }
}

.projects_task {
  ul {
    list-style: none;
    padding: 0;
    margin: 0;
  }

  li {
    font-size: px-to-rem(17px);
    line-height: px-to-rem(24px);
    position: relative;
    padding-left: 16px;
    margin-bottom: 20px;

    &::after {
      content: "";
      width: 3px;
      height: 7px;
      background-color: $primery;
      position: absolute;
      left: 2px;
      top: 8px;
      transform: rotate(45deg);
    }
  }
}

.projects_object {
  border: 1px solid #454545;
  border-radius: 5px;
  margin-top: 30px;
  margin-bottom: 20px;
  box-sizing: border-box;
}

.projects_item {
  border-bottom: 1px solid #454545;
  padding-left: 15px;
  box-sizing: border-box;
  padding-top: 15px;
  padding-bottom: 15px;

  &:last-child {
    border-bottom: none;
  }

  p {
    margin: 0px;
    font-size: px-to-rem(15px);
    line-height: px-to-rem(18px);
    color: #787878;
   
  }
  span {
    color: $white;
  }
}

.projects_counts {
  position: absolute;
  left: 15px;
  bottom: 15px;
  background: rgba(0,0,0,0.7);
  border-radius: 5px;
  z-index: 1;
  padding: 10px;
  font-size: px-to-rem(14px);
  line-height: px-to-rem(22px);
  color: #787878;
}

.projects_first {
  font-size: px-to-rem(20px);
  color: $white;
}

.projects .fp-scroller {
  padding-top: 100px;
  padding-bottom: 50px;
}

div.fp-controlArrow.fp-prev {
  border: none;
  background: url("../img/arrow-prev.svg");
  width: 24px;
  height: 24px;
  bottom: 25px;
  top: auto;
  left: calc(100% - 80px);
}

div.fp-controlArrow.fp-next {
  border: none;
  background: url("../img/arrow-next.svg");
  width: 24px;
  height: 24px;
  bottom: 25px;
  top: auto;
  left: auto;
  right: 15px;
}